Repository termux/termux-packages, pull requests merged in 2022-09, with the labels that each got.

#11944 audacious-plugins: Fix build
  x11-packages/audacious-plugins/configure-pkg-config.patch
Labels: x11

#11945 mate-terminal: Depend on mate-desktop
  x11-packages/mate-terminal/build.sh
Labels: x11

#11963 {lib,x}wayland: Fix build
  x11-packages/libwayland/build.sh
  x11-packages/libwayland/libwayland-cross-scanner.subpackage.sh
  x11-packages/xwayland/build.sh
Labels: x11

#11972 gimp: Fix build
  x11-packages/gimp/build.sh
Labels: x11

#12007 gimp: Bump to 2.10.32
  x11-packages/gimp/build.sh
Labels: x11

#12029 xpdf: Bump to 4.04
  x11-packages/xpdf/build.sh
Labels: x11

#12080 inkscape: Bump to 1.2.1
  x11-packages/inkscape/build.sh
  x11-packages/inkscape/inkscape-1.1.2-poppler-22.03.patch
  x11-packages/inkscape/inkscape-1.1.2-poppler-22.04.patch
  x11-packages/inkscape/src-object-object-set.cpp.patch
Labels: x11

#12084 new package: python-cryptography
  packages/python-cryptography/build.sh
  packages/python-cryptography/openssl-libs.diff
Labels: python

#12093 audacity: Enable FFmpeg support
  x11-packages/audacity/audacity-ffmpeg.subpackage.sh
  x11-packages/audacity/build.sh
  x11-packages/audacity/ffmpeg-configure.patch
  x11-packages/audacity/src-FFmpeg.h.patch
Labels: x11

#11485 new package: libpagmo
  packages/libpagmo/build.sh
Labels: not stale

#12147 mesa-demos: Re-enable and bump to 8.5.0
  x11-packages/mesa-demos/LICENSE
  x11-packages/mesa-demos/build.sh
  x11-packages/mesa-demos/src-tests-texdown.c.patch
Labels: x11

#12146 spek: Re-enable and bump to 0.8.4
  x11-packages/spek/autogen.sh.patch
  x11-packages/spek/build.sh
  x11-packages/spek/ffmpeg-configure.patch
Labels: x11
