Repository termux/termux-packages, pull requests merged in 2022-10, with the labels that each got.

#12231 glm: new package
  packages/glm/6059c5767.patch
  packages/glm/build.sh
Labels: hacktoberfest-accepted

#12407 new package: wireshark-qt
  x11-packages/wireshark-qt/build.sh
  x11-packages/wireshark-qt/cmake-system-name.patch
  x11-packages/wireshark-qt/fix-hardcoded-paths.patch
  x11-packages/wireshark-qt/no-getdtablesize.patch
  x11-packages/wireshark-qt/no-legacy-index.patch
  x11-packages/wireshark-qt/no-qt-accessibility.patch
Labels: x11

#12410 aircrack-ng: Bump to 1.7
  root-packages/aircrack-ng/build.sh
  root-packages/aircrack-ng/osdep-find-lib-fix.patch
Labels: root

#12448 new package: gjots2
  x11-packages/gjots2/bin-gjots2.patch
  x11-packages/gjots2/build.sh
Labels: gir

#12468 termux_setup_gir: Support on-device building
  packages/gobject-introspection/build.sh
  packages/gobject-introspection/gi-cross-launcher-on-device.in
  packages/gobject-introspection/gi-cross-launcher.sh
  scripts/build/setup/termux_setup_gir.sh
Labels: gir

#12581 [DISABLED] new package: gimp3
  x11-packages/gimp3/build.sh
  x11-packages/gimp3/gimp-2.99.12-libheif-1.13.patch
  x11-packages/gimp3/gir/2.99.12/Gimp-3.0.xml
  x11-packages/gimp3/gir/2.99.12/GimpUi-3.0.xml
  x11-packages/gimp3/meson.build.patch
  x11-packages/gimp3/plug-ins-python-meson.build.patch
Labels: x11, gir
