Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

bump(main/hugo): 0.141.0
  packages/hugo/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/python-pyarrow): 19.0.0
  packages/python-pyarrow/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/ruff): 0.9.2
  packages/ruff/build.sh
Owners: @Grimler91, @TomJo2000

bump(libllvm): 19.1.6 to 19.1.7
  packages/libllvm/build.sh
Owners: @finagolfin

revbump(main/mc): Rebuild against newer glib
  packages/mc/build.sh
Owners: @Grimler91, @TomJo2000

bump(flang): 19.1.6 to 19.1.7
  packages/flang/build.sh
Owners: @Grimler91, @TomJo2000

revbump(main/mc): Rebuild against newer glib
  packages/mc/build.sh
Owners: @Grimler91, @TomJo2000

bump(flang): 19.1.6 to 19.1.7
  packages/flang/build.sh
Owners: @Grimler91, @TomJo2000

bump(libllvm): 19.1.6 to 19.1.7
  packages/libllvm/build.sh
Owners: @finagolfin

pkg(main/capstone): Fix auto-update
  packages/capstone/build.sh
Owners: @Grimler91, @TomJo2000

chore(x11/vkmark): move to x11 repo
  x11-packages/vkmark/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/storj-uplink): 1.119.15
  packages/storj-uplink/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kirigami-addons): 1.7.0
  x11-packages/kf6-kirigami-addons/build.sh
Owners: @Grimler91, @TomJo2000

ci(packages): add randomise buildorder.py test
  .github/workflows/packages.yml
  scripts/bin/test-buildorder-random
Owners: @Grimler91, @TomJo2000

chore(x11/vkmark): move to x11 repo
  x11-packages/vkmark/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/procs): 0.14.9
  packages/procs/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/emscripten): Remove llvm-profgen which is absent in emscripten 4.0.1
  packages/emscripten/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/emscripten): 4.0.1
  packages/emscripten/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-headers): 1.4.305
  packages/vulkan-headers/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/golang): 1.23.5
  packages/golang/build.sh
  scripts/build/setup/termux_setup_golang.sh
Owners: @Grimler91, @TomJo2000

bump(main/golang): 1.23.5
  packages/golang/build.sh
  scripts/build/setup/termux_setup_golang.sh
Owners: @Grimler91, @TomJo2000

bump(main/lazygit): 0.45.2
  packages/lazygit/build.sh
Owners: @kcubeterm

bump(main/libexif): 0.6.25
  packages/libexif/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-loader-generic): 1.4.305
  packages/vulkan-loader-generic/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main): dotnet8.0
  packages/dotnet-host/build.sh
  packages/dotnet8.0/0001-build-all-libs.patch
  packages/dotnet8.0/0002-define-memfd_create.patch
  packages/dotnet8.0/0003-runtime-src-native-libs-System.IO.Compression.Native.patch
  packages/dotnet8.0/0004-ndk-r26.patch
  packages/dotnet8.0/0005-runtime-src-native-libs-System.Security.Cryptography.Native-opensslshim.c.patch
  packages/dotnet8.0/0006-runtime-eng-common-cross-toolchain.cmake.patch
  packages/dotnet8.0/0007-aspire_fix-gitinfo-target.patch
  packages/dotnet8.0/aspnetcore-runtime-8.0.subpackage.sh
  packages/dotnet8.0/aspnetcore-runtime-dbg-8.0.subpackage.sh
  packages/dotnet8.0/aspnetcore-targeting-pack-8.0.subpackage.sh
  packages/dotnet8.0/build.sh
  packages/dotnet8.0/dotnet-apphost-pack-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-host-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-hostfxr-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-runtime-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-runtime-dbg-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-sdk-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-sdk-dbg-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-targeting-pack-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-templates-8.0.subpackage.sh
  packages/dotnet8.0/dotnet.sh.in
  packages/dotnet8.0/netstandard-targeting-pack-2.1-8.0.subpackage.sh
  packages/netstandard-targeting-pack-2.1/build.sh
  scripts/big-pkgs.list
Owners: @Grimler91, @TomJo2000

bump(main/buf): 1.50.0
  packages/buf/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/helm-ls): 0.2.0
  packages/helm-ls/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-utility-libraries): 1.4.305
  packages/vulkan-utility-libraries/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-tools): 1.4.305
  packages/vulkan-tools/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-validation-layers): 1.4.305
  packages/vulkan-validation-layers/build.sh
Owners: @Grimler91, @TomJo2000

upgpkg(main/snapcast-server): 0.30.0
  packages/snapcast-server/build.sh
  packages/snapcast-server/server-etc-snapserver.conf.patch
Owners: @Grimler91, @TomJo2000

bump(main/libgee): 0.20.8
  packages/libgee/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libgee): 0.20.8
  packages/libgee/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libgnt): 2.14.4
  packages/libgnt/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libgnt): 2.14.4
  packages/libgnt/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/forgejo): 10.0.0
  packages/forgejo/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/lzip): 1.25
  packages/lzip/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/minio): 2025.01.18.00.31.37
  packages/minio/build.sh
Owners: @Grimler91, @TomJo2000

vkmark: use latest master branch
  x11-packages/vkmark/0001-fix-log.patch
  x11-packages/vkmark/build.sh
Owners: @Grimler91, @TomJo2000

cloudflared: disable `install` command
  packages/cloudflared/0001-disable-install-service.patch
  packages/cloudflared/build.sh
Owners: @Grimler91, @TomJo2000

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi
