Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi

bump(main/waypipe): 0.10.0
  packages/waypipe/build.sh
  packages/waypipe/meson.build.patch
  packages/waypipe/src-meson.build.patch
  packages/waypipe/src-secctx.c.patch
  packages/waypipe/waypipe-c-meson.build.patch
  packages/waypipe/waypipe-c-platform.c.patch
  packages/waypipe/waypipe-c-util.c.patch
  packages/waypipe/waypipe-c-waypipe.c.patch
Owners: @Grimler91, @TomJo2000

fix(main/pdf2djvu): Fix build by using --disable-openmp
  packages/pdf2djvu/build.sh
Owners: @Grimler91, @TomJo2000

fix(main,x11): fix build ncspot and ncspot-mpris (#22791)
  packages/ncspot/build.sh
  x11-packages/ncspot-mpris/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/bat): 0.25.0
  packages/bat/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/buf): 1.49.0
  packages/buf/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/flyctl): 0.3.59
  packages/flyctl/build.sh
Owners: @thunder-coding

bump(main/jfrog-cli): 2.73.0
  packages/jfrog-cli/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libmaxminddb): 1.12.0
  packages/libmaxminddb/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/nodejs): 23.6.0
  packages/nodejs/build.sh
Owners: @thunder-coding

bump(main/ed): 1.21
  packages/ed/build.sh
Owners: @Neo-Oli

bump(main/kubelogin): 1.31.1
  packages/kubelogin/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/texinfo): 7.2
  packages/texinfo/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vttest): 20241208
  packages/vttest/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/mesa): 24.3.3
  packages/mesa/0000-disable-android-detection.patch
  packages/mesa/build.sh
Owners: @Grimler91, @TomJo2000

pkg(main/mesa): Remove `dri3` option
  packages/mesa/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/waypipe): 0.10.0
  packages/waypipe/build.sh
  packages/waypipe/meson.build.patch
  packages/waypipe/src-meson.build.patch
  packages/waypipe/src-secctx.c.patch
  packages/waypipe/waypipe-c-meson.build.patch
  packages/waypipe/waypipe-c-platform.c.patch
  packages/waypipe/waypipe-c-util.c.patch
  packages/waypipe/waypipe-c-waypipe.c.patch
Owners: @Grimler91, @TomJo2000

bump(main/pueue): 4.0.0-rc.1
  packages/pueue/build.sh
  packages/pueue/patches.patch
Owners: @Grimler91, @TomJo2000

bump(main/weechat): 4.5.1
  packages/weechat/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/crystal): 1.14.1
  packages/crystal/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/inxi): 3.3.37-1
  packages/inxi/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libopenmpt): 0.7.13
  packages/libopenmpt/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/rust-analyzer): 20250108
  packages/rust-analyzer/build.sh
Owners: @Grimler91, @TomJo2000

fix(x11/sdl2-image): Fix src checksum mismatch
  x11-packages/sdl2-image/build.sh
Owners: @Grimler91, @TomJo2000

fix(x11/sdl2-image): Fix src checksum mismatch
  x11-packages/sdl2-image/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/weechat): 4.5.1
  packages/weechat/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/btfs2): 3.2.0
  packages/btfs2/build.sh
  packages/btfs2/fix-hardcoded-etc-resolv-conf.diff
  packages/btfs2/fix-hardcoded-etc-resolv-conf.sh
Owners: @Grimler91, @TomJo2000

bump(main/libtsduck): 3.39.3956
  packages/libtsduck/Makefile.inc.patch
  packages/libtsduck/Makefile.inc.patch.beforehostbuild
  packages/libtsduck/build.sh
  packages/libtsduck/scripts-make-config.sh.patch
  packages/libtsduck/scripts-make-config.sh.patch.beforehostbuild
Owners: @Grimler91, @TomJo2000

bump(main/pipewire): 1.2.7
  packages/pipewire/IPTOS_DSCP.patch
  packages/pipewire/build.sh
  packages/pipewire/pthread_cancel.patch
Owners: @Grimler91, @TomJo2000

bump(main/caddy): 2.9.1
  packages/caddy/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/dart): 3.6.1
  packages/dart/build.sh
Owners: @samujjal-gogoi

bump(main/flyctl): 0.3.60
  packages/flyctl/build.sh
Owners: @thunder-coding

bump(main/libmaxminddb): 1.12.1
  packages/libmaxminddb/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/uv): 0.5.16
  packages/uv/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/v2ray): 5.23.0
  packages/v2ray/build.sh
Owners: @Grimler91, @TomJo2000

chore(main/v2ray): Remove trailing whitespace
  packages/v2ray/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/haproxy): 3.1.2
  packages/haproxy/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libminizip-ng): 4.0.8
  packages/libminizip-ng/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/railway-cli): 3.20.2
  packages/railway-cli/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/praat): 6.4.26
  x11-packages/praat/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/eza): 0.20.16
  packages/eza/build.sh
Owners: @TomJo2000
