Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

bump(root/docker-compose): 2.32.3
  root-packages/docker-compose/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/qalculate-gtk): 5.5.0
  x11-packages/qalculate-gtk/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/lyx): 2.4.3
  x11-packages/lyx/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/lyx): 2.4.3
  x11-packages/lyx/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/emscripten): 4.0.0
  packages/emscripten/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/exiftool): 13.12
  packages/exiftool/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/flyctl): 0.3.62
  packages/flyctl/build.sh
Owners: @thunder-coding

bump(main/gdal): 3.10.1
  packages/gdal/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gum): 0.15.0
  packages/gum/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/lzlib): 1.15
  packages/lzlib/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/rip2): 0.9.3
  packages/rip2/build.sh
Owners: @TomJo2000

bump(main/sing-box): 1.10.7
  packages/sing-box/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/spirv-headers): 1.4.304.0
  packages/spirv-headers/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/spirv-tools): 1.4.304.0
  packages/spirv-tools/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/teleport-tsh): 17.1.6
  packages/teleport-tsh/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/alacritty): 0.15.0
  x11-packages/alacritty/build.sh
Owners: @TomJo2000

bump(main/mediamtx): 1.11.1
  packages/mediamtx/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/mediamtx): 1.11.1
  packages/mediamtx/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-validation-layers): 1.4.304
  packages/vulkan-validation-layers/0004-setenv.patch
  packages/vulkan-validation-layers/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-validation-layers): 1.4.304
  packages/vulkan-validation-layers/0004-setenv.patch
  packages/vulkan-validation-layers/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/glslang): 15.1.0
  packages/glslang/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/glslang): 15.1.0
  packages/glslang/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/msmtp): 1.8.28
  packages/msmtp/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/v2ray): 5.24.0
  packages/v2ray/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/osmium-tool): 1.17.0
  packages/osmium-tool/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/osmium-tool): 1.17.0
  packages/osmium-tool/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/wireshark-qt): 4.4.3
  x11-packages/wireshark-qt/build.sh
Owners: @Grimler91, @TomJo2000

Added c4cpp 1.0.6 stable build.
  packages/c4cpp/c4cpp.deb
  packages/c4cpp/termux_pkg_config
Owners: @Grimler91, @TomJo2000

Added fixed 1.0.6 build for c4cpp
  packages/c4cpp/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/tokei): 13.0.0-alpha.8
  packages/tokei/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/zrok): 0.4.46
  packages/zrok/build.sh
Owners: @TomJo2000

bump(x11/firefox): 134.0.1
  x11-packages/firefox/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libsqlite): 3.48.0
  packages/libsqlite/0001-Do-not-typedef-Tcl_Size-if-it-is-already-defined.patch
  packages/libsqlite/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libsqlite): 3.48.0
  packages/libsqlite/0001-Do-not-typedef-Tcl_Size-if-it-is-already-defined.patch
  packages/libsqlite/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/flyctl): 0.3.63
  packages/flyctl/build.sh
Owners: @thunder-coding

bump(main/git): 2.48.1
  packages/git/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/git-lfs): 3.6.1
  packages/git-lfs/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libbcprov-java): 1.80
  packages/libbcprov-java/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/python-apsw): 3.48.0.0
  packages/python-apsw/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/wasmtime): 28.0.1
  packages/wasmtime/build.sh
Owners: @Grimler91, @TomJo2000

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi
