Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi

bump(main/exiftool): 13.19
  packages/exiftool/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/exiv2): 0.28.4
  packages/exiv2/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/file-roller): 44.5
  x11-packages/file-roller/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gegl): 0.4.54
  packages/gegl/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/xfce4-settings): 4.20.1
  x11-packages/xfce4-settings/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/seanime): 1.7.2
  packages/teldrive/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/openal-soft): disable dlopen() of opensles for luanti
  packages/openal-soft/build.sh
  packages/openal-soft/revert-opensl-linking-change.patch
Owners: @Grimler91, @TomJo2000

bump(main/seanime): 1.7.2
  packages/teldrive/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main/teldrive): 1.6.12
  packages/teldrive/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main/teldrive): 1.6.12
  packages/teldrive/build.sh
Owners: @Grimler91, @TomJo2000

Add file syntax highlighting with .beforehostbuild extension
  .gitattributes
Owners: @Grimler91, @TomJo2000

bump(main/vim): 9.1.1100
  packages/vim/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/vim-gtk): 9.1.1100
  x11-packages/vim-gtk/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/vim-gtk): 9.1.1100
  x11-packages/vim-gtk/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vim): 9.1.1100
  packages/vim/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libaom): 3.12.0
  packages/libaom/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/fastfetch): 2.36.1
  packages/fastfetch/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main/TG-FileStreamBot): 3.0.0
  packages/tg-filestreambot/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/flatbuffers): 25.2.10
  packages/flatbuffers/build.sh
Owners: @librehat

bump(main/libgeos): 3.13.0
  packages/libgeos/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main/warpdl): 1.0.4
  packages/warpdl/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/groonga): 15.0.0
  packages/groonga/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main/imgproxy): 3.27.2
  packages/imgproxy/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/dotnet9.0); 9.0.2
  packages/dotnet9.0/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/dotnet8.0); 8.0.13
  packages/dotnet8.0/build.sh
Owners: @Grimler91, @TomJo2000

proot: add -g GNU libc and -u GNU Ubuntu roots
  packages/proot/termux-chroot
Owners: @michalbednarski

mono: enable `atexit`
  packages/mono/build.sh
  packages/mono/mono-utils-mono-proclib.c.patch
Owners: @Grimler91, @TomJo2000

fix(main/gst-python): Fix importing Gst with pygobject
  packages/gst-python/build.sh
  packages/gst-python/gi-overrides-meson.build.patch
Owners: @Grimler91, @TomJo2000

fix(main/gst-python): Fix importing Gst with pygobject
  packages/gst-python/build.sh
  packages/gst-python/gi-overrides-meson.build.patch
Owners: @Grimler91, @TomJo2000

mono: enable `atexit` (#23163)
  packages/mono/build.sh
  packages/mono/mono-utils-mono-proclib.c.patch
Owners: @Grimler91, @TomJo2000

bump(main/acr): 2.2.0
  packages/acr/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/cava): 0.10.4
  packages/cava/build.sh
Owners: @Neo-Oli

bump(main/difftastic): 0.63.0
  packages/difftastic/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gh): 2.67.0
  packages/gh/build.sh
Owners: @kcubeterm

bump(main/gnustep-make): 2.9.3
  packages/gnustep-make/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/dotnet9.0); 9.0.2
  packages/dotnet9.0/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/dotnet8.0); 8.0.13
  packages/dotnet8.0/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/layer-shell-qt): 6.3.0
  x11-packages/layer-shell-qt/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/lf): 34
  packages/lf/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libxlsxwriter): 1.2.0
  packages/libxlsxwriter/build.sh
Owners: @Grimler91, @TomJo2000
