Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

bump(main/vulkan-headers): 1.4.307
  packages/vulkan-headers/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-loader-generic): 1.4.307
  packages/vulkan-loader-generic/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-tools): 1.4.307
  packages/vulkan-tools/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/spirv-headers): 1.4.304.1
  packages/spirv-headers/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/spirv-tools): 1.4.304.1
  packages/spirv-tools/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-utility-libraries): 1.4.307
  packages/vulkan-utility-libraries/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-extension-layer): 1.4.307
  packages/vulkan-extension-layer/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/qt5-qtwebengine): 5.15.18
  x11-packages/qt5-qtwebengine/0030-remove-imp-for-python-312.patch
  x11-packages/qt5-qtwebengine/0031-fix-six-for-python-312.patch
  x11-packages/qt5-qtwebengine/build.sh
Owners: @Grimler91, @TomJo2000

testing to see if github actions can build main/swift unmodified
  packages/swift/build.sh
Owners: @finagolfin

bump(main/libcurl): 8.12.0
  packages/libcurl/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/at): use -f in atd service script
  packages/at/build.sh
Owners: @Grimler91, @TomJo2000

new package: diff-so-fancy
  packages/diff-so-fancy/build.sh
Owners: @Grimler91, @TomJo2000

Suggest diff-so-fancy for lazygit
  packages/lazygit/build.sh
Owners: @kcubeterm

chore(main/sheldon): remove PKG_CONFIG_ALLOW_CROSS
  packages/sheldon/build.sh
Owners: @Grimler91, @TomJo2000

chore(main/cargo-c): remove PKG_CONFIG_ALLOW_CROSS
  packages/cargo-c/build.sh
Owners: @Grimler91, @TomJo2000

chore(main/gitui): remove PKG_CONFIG_ALLOW_CROSS
  packages/gitui/build.sh
Owners: @PeroSar

chore(main/newsboat): remove PKG_CONFIG_ALLOW_CROSS
  packages/newsboat/build.sh
Owners: @Grimler91, @TomJo2000

chore(main/distant): remove PKG_CONFIG_ALLOW_CROSS
  packages/distant/build.sh
Owners: @Grimler91, @TomJo2000

chore(main/git-delta): remove PKG_CONFIG_ALLOW_CROSS
  packages/git-delta/build.sh
Owners: @TomJo2000

bump(x11/thunderbird): 128.7.0 (#23128)
  x11-packages/thunderbird/build.sh
Owners: @Grimler91, @TomJo2000

rebuild(main/command-not-found): to update database
  packages/command-not-found/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/chezmoi): 2.59.1
  packages/chezmoi/build.sh
Owners: @Grimler91

bump(main/gitea): 1.23.3
  packages/gitea/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/nim): v2.2.2
  packages/nim/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/nim): v2.2.2
  packages/nim/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libffi): 3.4.7
  packages/libffi/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/liboggz): 1.1.2
  packages/liboggz/build.sh
Owners: @Grimler91, @TomJo2000

Suggest diff-so-fancy for lazygit
  packages/lazygit/build.sh
Owners: @kcubeterm

new package: diff-so-fancy
  packages/diff-so-fancy/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libtasn1): 4.20.0
  packages/libtasn1/build.sh
  packages/libtasn1/no-native.exec.patch
  packages/libtasn1/src-gl-stdio-impl.h.patch
Owners: @Grimler91, @TomJo2000

bump(main/qpdf): 11.10.0
  packages/qpdf/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/sdl2): 2.32.0
  x11-packages/sdl2/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/sdl2-image): 2.8.5
  x11-packages/sdl2-image/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/sdl2-mixer): 2.8.1
  x11-packages/sdl2-mixer/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/swift): fix build with clang-18 and fix local docker build
  packages/swift/build.sh
Owners: @finagolfin

add -Q loud build with set -x
  build-package.sh
Owners: @Grimler91

fix(main/openjdk-17): fix build with clang 18
  packages/openjdk-17/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/yazi): 25.2.7
  packages/yazi/build.sh
Owners: @Grimler91, @TomJo2000

virgl-angle: add venus interface and on device build
  packages/virglrenderer-android/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/xwayland): 24.1.5
  x11-packages/xwayland/build.sh
Owners: @Grimler91, @TomJo2000

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi
