Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

fix(main/cronie): ensure ~/.cache exists (#23065)
  packages/cronie/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/tig): 2.5.11
  packages/tig/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main/jellyfin-server): 10.10.5
  packages/jellyfin-server/build.sh
Owners: @Grimler91, @TomJo2000

screen: fix GBK chars' rendering
  packages/screen/build.sh
  packages/screen/issue-22688.patch
Owners: @Grimler91, @TomJo2000

bump(main/dnsutils): 9.20.4
  packages/dnsutils/build.sh
  packages/dnsutils/fix-underlinking.patch
  packages/dnsutils/lib-irs-context.c.patch
Owners: @Grimler91, @TomJo2000

addpkg(main): liburcu
  packages/liburcu/build.sh
  packages/liburcu/disable-tests.patch
Owners: @Grimler91, @TomJo2000

chore(main/dnsutils): Fix typo
  packages/dnsutils/build.sh
Owners: @Grimler91, @TomJo2000

nala: properly install deps in `postinst`
  packages/nala/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main): archisteamfarm
  packages/archisteamfarm/build.sh
  packages/archisteamfarm/cc.sh.patch
Owners: @Grimler91, @TomJo2000

nala: properly install deps in `postinst` (#23097)
  packages/nala/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/libmp3lame): provide libmp3lame.so.0
  packages/libmp3lame/build.sh
Owners: @Grimler91, @TomJo2000

pkg(main/libupscaledb): Move to disabled-packages
  disabled-packages/libupscaledb/build.sh
  disabled-packages/libupscaledb/tools-ups_bench-datasource_string.h.patch
  disabled-packages/libupscaledb/upscaledb-tools.subpackage.sh
Owners: @Grimler91, @TomJo2000

bump(main/rgbds): 0.9.1
  packages/rgbds/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libspdlog): 1.15.1
  packages/libspdlog/276ee5f5c0eb13626bd367b006ace5eae9526d8a.patch
  packages/libspdlog/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/xfce4-panel): 4.20.3
  x11-packages/xfce4-panel/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/cloudflared): 2025.1.1
  packages/cloudflared/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/exiftool): 13.18
  packages/exiftool/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/geth): 1.14.13
  packages/geth/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/python): 3.12.9
  packages/python/build.sh
Owners: @Grimler91, @TomJo2000

add lib bthread for pthread_cancel
  packages/libbthread/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/python): 3.12.9
  packages/python/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/ruby): 3.4.1
  packages/asciidoctor/build.sh
  packages/ruby/build.sh
  packages/ruby/ext-syslog-extconf.rb.patch
  packages/ruby/fix-paths.patch
  packages/ruby/yjit-src-codegen.rs.patch
  packages/ruby/yjit-src-yjit.rs.patch
  packages/weechat/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libx11): 1.8.11
  packages/libx11/build.sh
Owners: @Grimler91, @TomJo2000

screen: fix GBK chars' rendering (#23096)
  packages/screen/build.sh
  packages/screen/issue-22688.patch
Owners: @Grimler91, @TomJo2000

bump(main/flatbuffers): 25.1.24
  packages/flatbuffers/build.sh
Owners: @librehat

bump(main/jql): 8.0.3
  packages/jql/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kitty): 0.39.1
  x11-packages/kitty/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/cloudflared): 2025.2.0
  packages/cloudflared/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main/vulkan-wrapper-android): 25.0.0
  packages/vulkan-wrapper-android/0000-disable-android-detection.patch
  packages/vulkan-wrapper-android/0001-fix-for-anon-file.patch
  packages/vulkan-wrapper-android/0002-wsi-no-pthread_cancel.patch
  packages/vulkan-wrapper-android/0003-vulkan-x11-disable-immediate-mode.patch
  packages/vulkan-wrapper-android/build.sh
  packages/vulkan-wrapper-android/cmake-wrapper.in
Owners: @Grimler91, @TomJo2000

bump(root/gocryptfs): 2.5.1
  root-packages/gocryptfs/build.sh
Owners: @Grimler91, @TomJo2000

wine-stable: install to `$PREFIX/opt`
  x11-packages/wine-stable/build.sh
Owners: @Grimler91, @TomJo2000

bump(root/gocryptfs): 2.5.1
  root-packages/gocryptfs/build.sh
Owners: @Grimler91, @TomJo2000

fix(x11/firefox): fix Segmentation fault in the command "firefox -headless"
  x11-packages/firefox/0030-fix-headless-mode.patch
  x11-packages/firefox/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/frotz): 2.55
  packages/frotz/build.sh
  packages/frotz/ux_frotz.h.patch
Owners: @Grimler91, @TomJo2000

bump(main/fselect): 0.8.9
  packages/fselect/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/neocmakelsp): 0.8.18
  packages/neocmakelsp/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/nlopt): 2.10.0
  packages/nlopt/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/dart): 3.6.2
  packages/dart/build.sh
  packages/dart/sdk-runtime-vm-os_android.cc.patch
Owners: @samujjal-gogoi

bump(main/dart): 3.6.2 (#23112)
  packages/dart/build.sh
  packages/dart/sdk-runtime-vm-os_android.cc.patch
Owners: @samujjal-gogoi

bump(main/xmake): 2.9.8
  packages/xmake/build.sh
Owners: @waruqi

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi
