Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi

chore(x11/wine-stable): sdl2-compat co-exist
  x11-packages/wine-stable/build.sh
Owners: @Grimler91, @TomJo2000

chore(x11/mgba): sdl2-compat co-exist
  x11-packages/mgba/build.sh
Owners: @Grimler91, @TomJo2000

chore(x11/scrcpy): sdl2-compat co-exist
  x11-packages/scrcpy/build.sh
Owners: @Grimler91, @TomJo2000

chore(x11/schismtracker): sdl2-compat co-exist
  x11-packages/schismtracker/build.sh
Owners: @Grimler91, @TomJo2000

Update build.sh
  packages/angle-android/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/fmt): 11.1.3
  packages/fmt/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libwavpack): 5.8.0
  packages/libwavpack/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/dua): 2.30.0
  packages/dua/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/libspelling): 0.4.6
  x11-packages/libspelling/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main): dotnet9.0
  packages/dotnet-host/build.sh
  packages/dotnet9.0/0001-build-all-libs.patch
  packages/dotnet9.0/0002-define-memfd_create.patch
  packages/dotnet9.0/0003-runtime-src-native-libs-System.IO.Compression.Native.patch
  packages/dotnet9.0/0005-runtime-src-native-libs-System.Security.Cryptography.Native-opensslshim.c.patch
  packages/dotnet9.0/0006-runtime-eng-common-cross-toolchain.cmake.patch
  packages/dotnet9.0/0007-runtime-eng-DotNetBuild.props.patch
  packages/dotnet9.0/0008-aspire_fix-gitinfo-target.patch
  packages/dotnet9.0/0009-src-runtime-src-coreclr-vm-threadstatics.cpp.patch
  packages/dotnet9.0/0010-revert-stop-setting-separate-properties-BUNDLE_PROP-HOSTPOLICY_EMBEDDED-PINVOKE_OVERRIDE.patch
  packages/dotnet9.0/aspnetcore-runtime-9.0.subpackage.sh
  packages/dotnet9.0/aspnetcore-runtime-dbg-9.0.subpackage.sh
  packages/dotnet9.0/aspnetcore-targeting-pack-9.0.subpackage.sh
  packages/dotnet9.0/build.sh
  packages/dotnet9.0/dotnet-apphost-pack-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-host-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-hostfxr-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-runtime-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-runtime-dbg-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-sdk-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-sdk-dbg-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-targeting-pack-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-templates-9.0.subpackage.sh
  packages/dotnet9.0/dotnet.sh.in
  packages/dotnet9.0/netstandard-targeting-pack-2.1-9.0.subpackage.sh
  packages/netstandard-targeting-pack-2.1/build.sh
  scripts/big-pkgs.list
Owners: @Grimler91, @TomJo2000

ci(packages): add more buildorder tests (#22977)
  .github/workflows/packages.yml
  scripts/bin/test-buildorder-random
Owners: @Grimler91, @TomJo2000

phpmyadmin: update to 5.2.2
  packages/phpmyadmin/build.sh
  packages/phpmyadmin/phpmyadmin.conf
Owners: @Grimler91, @TomJo2000

bump(main/angle-android): 2025.01.28
  packages/angle-android/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/mc): 4.8.33
  packages/mc/build.sh
  packages/mc/lib-shell.c.patch
Owners: @Grimler91, @TomJo2000

bump(main/libwavpack): 5.8.1
  packages/libwavpack/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libwavpack): 5.8.1
  packages/libwavpack/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/uv): 0.5.25
  packages/uv/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/aerc): 0.20.1
  packages/aerc/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/aichat): 0.27.0
  packages/aichat/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/alist): 3.42.0
  packages/alist/build.sh
Owners: @2096779623

bump(main/neovim): 0.10.4
  packages/neovim/build.sh
Owners: @TomJo2000

bump(main/cookcli): 0.10.0
  packages/cookcli/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/gnome-text-editor): 47.3
  x11-packages/gnome-text-editor/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/waypipe): 0.10.2
  packages/waypipe/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/sway): 1.10.1
  x11-packages/sway/build.sh
  x11-packages/sway/meson.build.patch
Owners: @Grimler91, @TomJo2000

phpmyadmin: update to 5.2.2 (#23004)
  packages/phpmyadmin/build.sh
  packages/phpmyadmin/phpmyadmin.conf
Owners: @Grimler91, @TomJo2000

bump(main/uv): 0.5.25 (#23061)
  packages/uv/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main): dotnet9.0 (#22995)
  packages/dotnet-host/build.sh
  packages/dotnet9.0/0001-build-all-libs.patch
  packages/dotnet9.0/0002-define-memfd_create.patch
  packages/dotnet9.0/0003-runtime-src-native-libs-System.IO.Compression.Native.patch
  packages/dotnet9.0/0005-runtime-src-native-libs-System.Security.Cryptography.Native-opensslshim.c.patch
  packages/dotnet9.0/0006-runtime-eng-common-cross-toolchain.cmake.patch
  packages/dotnet9.0/0007-runtime-eng-DotNetBuild.props.patch
  packages/dotnet9.0/0008-aspire_fix-gitinfo-target.patch
  packages/dotnet9.0/0009-src-runtime-src-coreclr-vm-threadstatics.cpp.patch
  packages/dotnet9.0/0010-revert-stop-setting-separate-properties-BUNDLE_PROP-HOSTPOLICY_EMBEDDED-PINVOKE_OVERRIDE.patch
  packages/dotnet9.0/aspnetcore-runtime-9.0.subpackage.sh
  packages/dotnet9.0/aspnetcore-runtime-dbg-9.0.subpackage.sh
  packages/dotnet9.0/aspnetcore-targeting-pack-9.0.subpackage.sh
  packages/dotnet9.0/build.sh
  packages/dotnet9.0/dotnet-apphost-pack-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-host-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-hostfxr-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-runtime-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-runtime-dbg-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-sdk-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-sdk-dbg-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-targeting-pack-9.0.subpackage.sh
  packages/dotnet9.0/dotnet-templates-9.0.subpackage.sh
  packages/dotnet9.0/dotnet.sh.in
  packages/dotnet9.0/netstandard-targeting-pack-2.1-9.0.subpackage.sh
  packages/netstandard-targeting-pack-2.1/build.sh
  scripts/big-pkgs.list
Owners: @Grimler91, @TomJo2000

chore(scripts/setup-ubuntu): rename symbolic link to prepare for aosp-libs package
  scripts/setup-ubuntu.sh
Owners: @Grimler91

enhance(main/electrum): add electrum daemon service script
  packages/electrum/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/electrum): sync dependency list with electrum's requirements.txt
  packages/electrum/build.sh
Owners: @Grimler91, @TomJo2000

enhance(main/openssh): add ssh-agent service script
  packages/openssh/build.sh
  packages/openssh/sv/ssh-agent.run.in
  packages/openssh/sv/sshd.run.in
Owners: @TomJo2000

updpkg(main/termux-elf-cleaner): 3.0.1
  packages/termux-elf-cleaner/build.sh
Owners: @Grimler91, @TomJo2000

scripts(start_build): use termux-elf-cleaner 3.0.1
  scripts/build/termux_step_start_build.sh
Owners: @Grimler91

bump(main/exiftool): 13.17
  packages/exiftool/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libimagequant): 4.3.4
  packages/libimagequant/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/chezmoi): 2.59.0
  packages/chezmoi/build.sh
Owners: @Grimler91

bump(x11/hugin): 2024.0.1
  x11-packages/hugin/build.sh
Owners: @Grimler91, @TomJo2000

libandroid-stub: ship `libmediandk.so`
  packages/libandroid-stub/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/groonga): 14.1.3
  packages/groonga/build.sh
Owners: @Grimler91, @TomJo2000
