Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi

bump(main/fastfetch): 2.34.0
  packages/fastfetch/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gitea): 1.23.0
  packages/gitea/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/glib-networking): 2.80.1
  packages/glib-networking/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/nwipe): 0.38
  packages/nwipe/build.sh
  packages/nwipe/fix-hardcoded-paths.patch
Owners: @Grimler91, @TomJo2000

bump(main/nwipe): 0.38
  packages/nwipe/build.sh
  packages/nwipe/fix-hardcoded-paths.patch
Owners: @Grimler91, @TomJo2000

bump(main/mold): 2.36.0
  packages/mold/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/neomutt): 20250109
  packages/neomutt/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/notcurses): 3.0.12
  packages/notcurses/build.sh
Owners: @Grimler91, @TomJo2000

bump(root/tshark): 4.4.3
  root-packages/tshark/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/opencv): 4.11.0
  x11-packages/opencv/build.sh
Owners: @Grimler91, @TomJo2000

fastfetch: add dependencies
  packages/fastfetch/build.sh
Owners: @Grimler91, @TomJo2000

enhance(main/fastfetch): add dependencies
  packages/fastfetch/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/golang): 1.23.4 (#22817)
  packages/golang/build.sh
  packages/golang/patch-script/remove-pidfd.diff
  scripts/build/setup/termux_setup_golang.sh
Owners: @Grimler91, @TomJo2000

bump(main/ruff): 0.9.0
  packages/ruff/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/simdjson): 3.11.5
  packages/simdjson/build.sh
Owners: @Grimler91, @TomJo2000

fix(x11/far2l): Backport patch to work with current libnfs
  x11-packages/far2l/2566.patch
  x11-packages/far2l/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/tinymist): 0.12.18
  packages/tinymist/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/extra-cmake-modules): 6.10.0
  x11-packages/extra-cmake-modules/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kconfig): 6.10.0
  x11-packages/kf6-kconfig/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/filelight): 24.12.1
  x11-packages/filelight/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kdegraphics-mobipocket): 24.12.1
  x11-packages/kdegraphics-mobipocket/build.sh
Owners: @Grimler91, @TomJo2000

fix(x11/far2l): Backport patch to work with current libnfs
  x11-packages/far2l/2566.patch
  x11-packages/far2l/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/proot-distro): 4.19.0
  packages/proot-distro/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/doxygen): 1.13.2
  packages/doxygen/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/flyctl): 0.3.61
  packages/flyctl/build.sh
Owners: @thunder-coding

bump(main/libc++utilities): 5.27.2
  packages/libc++utilities/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/p7zip): 17.06, use `newest-tag` for auto-update
  packages/p7zip/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/moar): 1.31.1
  packages/moar/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/syncthing): 1.29.1
  packages/syncthing/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/ugrep): 7.1.3
  packages/ugrep/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vim): 9.1.1000
  packages/vim/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/vim-gtk): 9.1.1000
  x11-packages/vim-gtk/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/p7zip): 17.06, use `newest-tag` for auto-update
  packages/p7zip/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/pango): 1.56.0
  packages/pango/build.sh
  packages/pango/gir/Pango-1.0.xml
Owners: @Grimler91, @TomJo2000, @xtkoba

bump(main/nodejs): 23.6.0
  packages/nodejs/build.sh
Owners: @thunder-coding

bump(main/pango): 1.56.0
  packages/pango/build.sh
  packages/pango/gir/Pango-1.0.xml
Owners: @Grimler91, @TomJo2000, @xtkoba

bump(main/crystal): 1.15.0
  packages/crystal/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gitea): 1.23.1
  packages/gitea/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/pocketbase): 0.24.2
  packages/pocketbase/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/libadwaita): 1.6.3
  x11-packages/libadwaita/build.sh
Owners: @Grimler91, @TomJo2000
