Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi

fix(main/groonga): Disable llama.cpp feature for 32 bit targets
  packages/groonga/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/sdl2-compat): 2.30.51
  x11-packages/sdl2-compat/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/eza): 0.20.19
  packages/eza/build.sh
Owners: @TomJo2000

bump(main/ngspice): 44.2
  packages/ngspice/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libsnappy): 1.2.1
  packages/libsnappy/CMakeLists.txt.patch
  packages/libsnappy/build.sh
Owners: @Grimler91, @TomJo2000

enhance(main/libsnappy): Enable auto-update
  packages/libsnappy/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libarrow-cpp): 19.0.0
  packages/libarrow-cpp/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/{python-pyarrow,libarrow-cpp}): Disable auto-update
  packages/libarrow-cpp/build.sh
  packages/python-pyarrow/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gstreamer): 1.24.12
  packages/gstreamer/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gst-plugins-base): 1.24.12
  packages/gst-plugins-base/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gst-plugins-bad): 1.24.12
  packages/gst-plugins-bad/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gst-plugins-good): 1.24.12
  packages/gst-plugins-good/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gst-plugins-ugly): 1.24.12
  packages/gst-plugins-ugly/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gst-libav): 1.24.12
  packages/gst-libav/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gst-python): 1.24.12
  packages/gst-python/build.sh
Owners: @Grimler91, @TomJo2000

pkg(main/crypto-monitor): Move to disabled-packages
  disabled-packages/crypto-monitor/SetPath.cmake.patch
  disabled-packages/crypto-monitor/build.sh
Owners: @Grimler91, @TomJo2000

pkg(main/libupscaledb): Move to disabled-packages
  disabled-packages/libupscaledb/build.sh
  disabled-packages/libupscaledb/tools-ups_bench-datasource_string.h.patch
  disabled-packages/libupscaledb/upscaledb-tools.subpackage.sh
Owners: @Grimler91, @TomJo2000

pkg(main/crypto-monitor): Move to disabled-packages
  disabled-packages/crypto-monitor/SetPath.cmake.patch
  disabled-packages/crypto-monitor/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/haproxy): 3.1.3
  packages/haproxy/build.sh
Owners: @Grimler91, @TomJo2000

setup-ubuntu.sh: install fontconfig
  scripts/setup-ubuntu.sh
Owners: @Grimler91

scripts: add termux_setup_dotnet
  build-package.sh
  scripts/build/setup/termux_setup_dotnet.sh
Owners: @Grimler91

libandroid-stub: ship `libmediandk.so` (#23067)
  packages/libandroid-stub/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/lxqt-runner): 2.1.2
  x11-packages/lxqt-runner/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/lximage-qt): 2.1.1
  x11-packages/lximage-qt/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/manpages): 6.10
  packages/manpages/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libtorrent-rasterbar): 2.0.11
  packages/libtorrent-rasterbar/7649.patch
  packages/libtorrent-rasterbar/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/navi): 2.24.0
  packages/navi/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/2048-c): 1.0.3
  packages/2048-c/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/yosys): 0.49
  packages/yosys/build.sh
Owners: @Grimler91, @TomJo2000

scripts: add termux_setup_dotnet (#23077)
  build-package.sh
  scripts/build/setup/termux_setup_dotnet.sh
Owners: @Grimler91

bump(main/2048-c): 1.0.3
  packages/2048-c/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/yosys): 0.49
  packages/yosys/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gh): 2.66.1
  packages/gh/build.sh
Owners: @kcubeterm

bump(x11/libadwaita): 1.6.4
  x11-packages/libadwaita/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/wine-stable): 10.0
  x11-packages/wine-stable/0001-fix-paths.patch
  x11-packages/wine-stable/9998-fix-winegcc-build-target.patch.beforehostbuild
  x11-packages/wine-stable/build.sh
Owners: @Grimler91, @TomJo2000

carbonyl-host-tools: do not run elf-cleaner
  x11-packages/carbonyl-host-tools/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/wine-stable): 10.0 (#23081)
  x11-packages/wine-stable/0001-fix-paths.patch
  x11-packages/wine-stable/9998-fix-winegcc-build-target.patch.beforehostbuild
  x11-packages/wine-stable/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/pocketbase): 0.25.0
  packages/pocketbase/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/pv): 1.9.31
  packages/pv/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/simdjson): 3.12.0
  packages/simdjson/build.sh
Owners: @Grimler91, @TomJo2000
