Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi

rebuild(main/command-not-found): to update database
  packages/command-not-found/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/notcurses): 3.0.13
  packages/notcurses/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/oh-my-posh): 24.18.1
  packages/oh-my-posh/build.sh
Owners: @Grimler91, @TomJo2000

scripts: add variable TERMUX_PKG_NO_REPLACE_GUESS_SCRIPTS
  scripts/build/termux_step_replace_guess_scripts.sh
  scripts/build/termux_step_setup_variables.sh
Owners: @Grimler91

bump(main/rust): 1.84.0
  packages/rust/build.sh
  packages/rust/config.toml
  packages/rust/rust-std-wasm32-wasi.subpackage.sh
Owners: @kcotugno

bump(main/netcat-openbsd): 1.228-1
  packages/netcat-openbsd/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/openal-soft): 1.24.2
  packages/openal-soft/alc-alconfig.cpp.patch
  packages/openal-soft/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/netcat-openbsd): 1.228-1
  packages/netcat-openbsd/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/openal-soft): 1.24.2
  packages/openal-soft/alc-alconfig.cpp.patch
  packages/openal-soft/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/yq): 4.45.1
  packages/yq/build.sh
Owners: @Grimler91, @TomJo2000

bump(root/nexttrace): 1.3.7
  root-packages/nexttrace/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/firefox): 134.0
  x11-packages/firefox/0017-icu-74.patch
  x11-packages/firefox/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/rust): 1.84.0
  packages/rust/build.sh
  packages/rust/config.toml
  packages/rust/rust-std-wasm32-wasi.subpackage.sh
Owners: @kcotugno

scripts: add variable TERMUX_PKG_NO_REPLACE_GUESS_SCRIPTS
  scripts/build/termux_step_replace_guess_scripts.sh
  scripts/build/termux_step_setup_variables.sh
Owners: @Grimler91

bump(main/broot): 1.44.6
  packages/broot/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/mympd): 19.0.3
  packages/mympd/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/pocketbase): 0.24.3
  packages/pocketbase/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/abiword): 3.0.6
  x11-packages/abiword/build.sh
  x11-packages/abiword/gir/3.0.6/Abi-3.0.xml
  x11-packages/abiword/plugin-configure.m4.patch
  x11-packages/abiword/src-af-util-xp-ut_stringbuf.cpp.patch
Owners: @Grimler91, @TomJo2000, @xtkoba

bump(x11/firefox): 134.0
  x11-packages/firefox/0017-icu-74.patch
  x11-packages/firefox/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libzxing-cpp): 2.3.0
  packages/libzxing-cpp/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libopenblas): 0.3.29
  packages/libopenblas/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/moar): 1.31.2
  packages/moar/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/rclone): 1.69.0
  packages/rclone/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/rnr): 0.5.0
  packages/rnr/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/syncthing): 1.29.2
  packages/syncthing/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libzxing-cpp): 2.3.0
  packages/libzxing-cpp/build.sh
Owners: @Grimler91, @TomJo2000

revbump(x11/termux-x11-nightly): rebuild with fixes
  x11-packages/termux-x11-nightly/build.sh
Owners: @twaik

bump(main/tree-sitter): 0.24.7
  packages/tree-sitter/build.sh
Owners: @TomJo2000

bump(main/pv): 1.9.27
  packages/pv/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/chezmoi): 2.58.0
  packages/chezmoi/build.sh
Owners: @Grimler91

bump(main/fastfetch): 2.34.1
  packages/fastfetch/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/neomutt): 20250113
  packages/neomutt/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/rust-analyzer): 20250113
  packages/rust-analyzer/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/devilspie2): 0.45
  x11-packages/devilspie2/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/fmt): 11.1.2
  packages/fmt/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/kubecolor): 0.5.0
  packages/kubecolor/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libosmium): 2.21.0
  packages/libosmium/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/proton-bridge): 3.16.0
  packages/proton-bridge/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/qalc): 5.5.0
  packages/qalc/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/toml11): 4.3.0
  packages/toml11/build.sh
Owners: @Grimler91, @TomJo2000
