Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

bump(main/tinygo): 0.35.0
  packages/tinygo/GNUmakefile.patch
  packages/tinygo/build.sh
  packages/tinygo/tinygo-common.subpackage.sh
Owners: @Grimler91, @TomJo2000

bump(main/libgit2): 1.9.0
  packages/libgit2/build.sh
Owners: @Grimler91, @TomJo2000

revbump(main/bat): After libgit2 update
  packages/bat/build.sh
Owners: @Grimler91, @TomJo2000

revbump(main/broot): After libgit2 update
  packages/broot/build.sh
Owners: @Grimler91, @TomJo2000

revbump(main/cabin): After libgit2 update
  packages/cabin/build.sh
Owners: @Grimler91, @TomJo2000

revbump(main/cargo-c): After libgit2 update
  packages/cargo-c/build.sh
Owners: @Grimler91, @TomJo2000

revbump(main/eza): After libgit2 update
  packages/eza/build.sh
Owners: @TomJo2000

revbump(main/git-delta): After libgit2 update
  packages/git-delta/build.sh
Owners: @TomJo2000

revbump(x11/fritzing): After libgit2 update
  x11-packages/fritzing/build.sh
Owners: @Grimler91, @TomJo2000

revbump(x11/mogan): After libgit2 update
  x11-packages/mogan/build.sh
Owners: @Grimler91, @TomJo2000

vkmark: use latest master branch (#22964)
  x11-packages/vkmark/0001-fix-log.patch
  x11-packages/vkmark/build.sh
Owners: @Grimler91, @TomJo2000

pkg(main/gitui): Use `libgit2`
  packages/gitui/build.sh
Owners: @PeroSar

bump(main/pocketbase): 0.24.4
  packages/pocketbase/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libode): 0.16.6
  packages/libode/CMakeLists.patch
  packages/libode/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libode): 0.16.6
  packages/libode/CMakeLists.patch
  packages/libode/build.sh
Owners: @Grimler91, @TomJo2000

upgpkg(main/snapcast-server): 0.30.0
  packages/snapcast-server/build.sh
  packages/snapcast-server/server-etc-snapserver.conf.patch
Owners: @Grimler91, @TomJo2000

bump(main/fontconfig): 2.16.0
  packages/fontconfig/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/o-editor): 2.68.7
  packages/o-editor/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/unrar): 7.1.3
  packages/unrar/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/foot): 1.20.2
  x11-packages/foot/build.sh
Owners: @Grimler91, @TomJo2000

addpkg(main/squashfs-tools): 4.6.1
  packages/squashfs-tools/build.sh
  packages/squashfs-tools/squashfs-tools-mksquashfs.c.patch
  packages/squashfs-tools/squashfs-tools-restore.c.patch
  packages/squashfs-tools/squashfs-tools-unsquashfs.c.patch
Owners: @Grimler91, @TomJo2000

rebuild(main/command-not-found): to update database
  packages/command-not-found/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/python-numpy): 2.2.2
  packages/python-numpy/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/far2l): 2.6.4
  x11-packages/far2l/WinPort-src-Backend-WinPortMain.cpp.patch
  x11-packages/far2l/build.sh
  x11-packages/far2l/far2l-src-cfg-ConfigOpt.cpp.patch
  x11-packages/far2l/multiarc-src-formats-7z-C.patch
Owners: @Grimler91, @TomJo2000

enhance(x11/far2l): add far2l-plugins-colorer subpackage
  x11-packages/far2l/build.sh
  x11-packages/far2l/far2l-plugins-colorer.subpackage.sh
Owners: @Grimler91, @TomJo2000

bump(x11/far2l): 2.6.4 (#22608)
  x11-packages/far2l/WinPort-src-Backend-WinPortMain.cpp.patch
  x11-packages/far2l/build.sh
  x11-packages/far2l/far2l-plugins-colorer.subpackage.sh
  x11-packages/far2l/far2l-src-cfg-ConfigOpt.cpp.patch
  x11-packages/far2l/multiarc-src-formats-7z-C.patch
Owners: @Grimler91, @TomJo2000

addpkg(main): dotnet8.0 (#22792)
  packages/dotnet-host/build.sh
  packages/dotnet8.0/0001-build-all-libs.patch
  packages/dotnet8.0/0002-define-memfd_create.patch
  packages/dotnet8.0/0003-runtime-src-native-libs-System.IO.Compression.Native.patch
  packages/dotnet8.0/0004-ndk-r26.patch
  packages/dotnet8.0/0005-runtime-src-native-libs-System.Security.Cryptography.Native-opensslshim.c.patch
  packages/dotnet8.0/0006-runtime-eng-common-cross-toolchain.cmake.patch
  packages/dotnet8.0/0007-aspire_fix-gitinfo-target.patch
  packages/dotnet8.0/aspnetcore-runtime-8.0.subpackage.sh
  packages/dotnet8.0/aspnetcore-runtime-dbg-8.0.subpackage.sh
  packages/dotnet8.0/aspnetcore-targeting-pack-8.0.subpackage.sh
  packages/dotnet8.0/build.sh
  packages/dotnet8.0/dotnet-apphost-pack-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-host-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-hostfxr-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-runtime-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-runtime-dbg-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-sdk-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-sdk-dbg-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-targeting-pack-8.0.subpackage.sh
  packages/dotnet8.0/dotnet-templates-8.0.subpackage.sh
  packages/dotnet8.0/dotnet.sh.in
  packages/dotnet8.0/netstandard-targeting-pack-2.1-8.0.subpackage.sh
  packages/netstandard-targeting-pack-2.1/build.sh
  scripts/big-pkgs.list
Owners: @Grimler91, @TomJo2000

bump(main/ca-certificates): 2024.12.31
  packages/ca-certificates/build.sh
Owners: @Grimler91, @TomJo2000

chore(main/dotnet8.0): blacklist arch arm
  packages/dotnet-host/build.sh
  packages/netstandard-targeting-pack-2.1/build.sh
Owners: @Grimler91, @TomJo2000

chore(main/dotnet8.0): blacklist arch arm (#22976)
  packages/dotnet-host/build.sh
  packages/netstandard-targeting-pack-2.1/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/pango): 1.56.1
  packages/pango/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libsoup3): 3.6.4
  packages/libsoup3/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libpangomm-2.48): 2.56.1
  packages/libpangomm-2.48/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/electrum): add missing dependencies
  packages/electrum/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/electrum): add missing dependencies (#22979)
  packages/electrum/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gitoxide): 0.41.0
  packages/gitoxide/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/kubelogin): 1.32.0
  packages/kubelogin/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/postgis): 3.5.2
  packages/postgis/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/rofi): 1.7.8
  x11-packages/rofi/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/fzf): 0.58.0
  packages/fzf/build.sh
Owners: @Grimler91, @TomJo2000

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi
