Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

bump(main/yadm): 3.4.0
  packages/yadm/build.sh
Owners: @Grimler91, @TomJo2000

fix(x11/luanti): force-link to libOpenSLES.so
  x11-packages/luanti/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/xmlsec): 1.3.7
  packages/xmlsec/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/xkeyboard-config): 2.44
  x11-packages/xkeyboard-config/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/xfce4-whiskermenu-plugin): 2.9.1
  x11-packages/xfce4-whiskermenu-plugin/build.sh
Owners: @Grimler91, @TomJo2000

libsqlite3-sys don't enable bundled feature
  packages/deno/0006-dont-enable-libsqlite3-sys-bundled-feature.patch
Owners: @Grimler91, @TomJo2000

bump deno
  packages/deno/build.sh
Owners: @Grimler91, @TomJo2000

use prebuilt snapshot
  packages/deno/0007-use-prebuilt-snapshot.patch
  packages/deno/build.sh
  packages/deno/patch-root-Cargo.diff
Owners: @Grimler91, @TomJo2000

Clean up
  packages/deno/build.sh
Owners: @Grimler91, @TomJo2000

enhance(main/libsqlite): enable SQLITE_ENABLE_UNLOCK_NOTIFY
  packages/libsqlite/build.sh
Owners: @Grimler91, @TomJo2000

deno: search rusty-v8 libs/srcs with target suffix
  packages/deno/0001-enable-libffi-system-feature.patch
  packages/deno/0001-fix-runtime-errors.patch
  packages/deno/build.sh
  packages/deno/patch-root-Cargo.diff
  packages/deno/rusty-v8-search-files-with-target-suffix.diff
Owners: @Grimler91, @TomJo2000

enable,bump(main/deno): 2.1.1
  disabled-packages/deno/build.sh
  disabled-packages/deno/cli-tools-upgrade.rs.patch
  disabled-packages/deno/ext-ffi-Cargo.toml.patch
  disabled-packages/deno/runtime-ops-signal.rs.patch
  packages/deno/0001-enable-libffi-system-feature.patch
  packages/deno/0002-disable-upgrading-via-cli.patch
  packages/deno/0003-fix-tmp-path.patch
  packages/deno/0004-use-libz-sys-default-features.patch
  packages/deno/0005-fix-webgpu-compilation.patch
  packages/deno/0006-fix-runtime-errors.patch
  packages/deno/build.sh
Owners: @Grimler91, @TomJo2000

skip cross-build check
  packages/deno/build.sh
Owners: @Grimler91, @TomJo2000

Update build.sh
  packages/deno/build.sh
Owners: @Grimler91, @TomJo2000

Update build.sh
  packages/deno/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/zenity): 4.0.5
  x11-packages/zenity/build.sh
  x11-packages/zenity/meson.build.patch
Owners: @Grimler91, @TomJo2000

bump(main/tor): 0.4.8.14
  packages/tor/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/toml11): 4.4.0
  packages/toml11/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/unicorn): 2.1.2
  packages/unicorn/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/unicorn): Fix building in 32 bit environment
  packages/unicorn/0001-Fix-2103-qemu-target-ppc-mem_helper.c-remove-redunda.patch
Owners: @Grimler91, @TomJo2000

bump(main/tinymist): 0.12.19
  packages/tinymist/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/tig): 2.5.12
  packages/tig/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/thunar): 4.20.2
  x11-packages/thunar/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/simdjson): 3.12.2
  packages/simdjson/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/sheldon): 0.8.1
  packages/sheldon/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/seafile-client): 9.0.12
  packages/seafile-client/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/sdl2-compat): 2.32.50
  x11-packages/sdl2-compat/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libwayland-protocols): 1.41
  packages/libwayland-protocols/0001-use-cross-wayland-scanner.patch
  packages/libwayland-protocols/build.sh
Owners: @Grimler91, @TomJo2000

scripts(toolchain): set AS='*clang -c'
  scripts/build/toolchain/termux_setup_toolchain_23c.sh
  scripts/build/toolchain/termux_setup_toolchain_27c.sh
Owners: @Grimler91

chore(main/mesa): deprecate mesa-vulkan-icd-freedreno-dri3 package...
  packages/mesa-vulkan-icd-freedreno-dri3/build.sh
  packages/mesa-vulkan-icd-freedreno-dri3/cmake-wrapper.in
  packages/mesa-vulkan-icd-freedreno-dri3/fix-for-anon-file.patch
  packages/mesa-vulkan-icd-freedreno-dri3/fix-for-getprogname.patch
  packages/mesa-vulkan-icd-freedreno-dri3/meson.build.patch
  packages/mesa-vulkan-icd-freedreno-dri3/src-gallium-drivers-llvmpipe-lp_screen.c.patch
  packages/mesa-vulkan-icd-freedreno-dri3/tu_kgsl_export_dmabuf.patch
  packages/mesa-vulkan-icd-freedreno-dri3/virgl-socket-path.patch
  packages/mesa-vulkan-icd-freedreno-dri3/wsi-no-pthread_cancel.patch
  packages/mesa-vulkan-icd-freedreno-dri3/wsi-termux-x11.patch
  packages/mesa/0010-merge-request-35580.patch
  packages/mesa/build.sh
  packages/mesa/mesa-vulkan-icd-freedreno.subpackage.sh
Owners: @Grimler91, @TomJo2000

enhance(main/ffmpeg): suggest installing `libandroid-stub` if ffmpeg segfaults closes #23189
  packages/ffmpeg/build.sh
  packages/ffmpeg/postinst.sh.in
Owners: @Grimler91, @TomJo2000

enhance(main/ffmpeg): suggest installing `libandroid-stub` if ffmpeg segfaults (#23191)
  packages/ffmpeg/build.sh
  packages/ffmpeg/postinst.sh.in
Owners: @Grimler91, @TomJo2000

fix(main/ffmpeg): fix postinst script's shebang
  packages/ffmpeg/build.sh
  packages/ffmpeg/postinst.sh.in
Owners: @Grimler91, @TomJo2000

fix(main/ffmpeg): fix postinst script's shebang (#23193)
  packages/ffmpeg/build.sh
  packages/ffmpeg/postinst.sh.in
Owners: @Grimler91, @TomJo2000

revbump(x11/tint2): link with libm
  x11-packages/tint2/build.sh
Owners: @Grimler91, @TomJo2000

add libgourou
  packages/libgourou/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/openssh): 9.9p2
  packages/openssh/build.sh
Owners: @TomJo2000

chore(scripts/bin/update-packages): cosmetic changes
  scripts/bin/update-packages
Owners: @Grimler91

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi
