Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

bump(x11/kf6-kglobalaccel): 6.10.0
  x11-packages/kf6-kglobalaccel/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kiconthemes): 6.10.0
  x11-packages/kf6-kiconthemes/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kitemviews): 6.10.0
  x11-packages/kf6-kitemviews/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kirigami): 6.10.0
  x11-packages/kf6-kirigami/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kitemmodels): 6.10.0
  x11-packages/kf6-kitemmodels/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-knotifications): 6.10.0
  x11-packages/kf6-knotifications/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kjobwidgets): 6.10.0
  x11-packages/kf6-kjobwidgets/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kpackage): 6.10.0
  x11-packages/kf6-kpackage/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-knewstuff): 6.10.0
  x11-packages/kf6-knewstuff/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kservice): 6.10.0
  x11-packages/kf6-kservice/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-sonnet): 6.10.0
  x11-packages/kf6-sonnet/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-ktextwidgets): 6.10.0
  x11-packages/kf6-ktextwidgets/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kwindowsystem): 6.10.0
  x11-packages/kf6-kwindowsystem/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kwallet): 6.10.0
  x11-packages/kf6-kwallet/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kxmlgui): 6.10.0
  x11-packages/kf6-kxmlgui/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-solid): 6.10.0
  x11-packages/kf6-solid/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-qqc2-desktop-style): 6.10.0
  x11-packages/kf6-qqc2-desktop-style/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-syndication): 6.10.0
  x11-packages/kf6-syndication/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-kio): 6.10.0
  x11-packages/kf6-kio/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-knotifyconfig): 6.10.0
  x11-packages/kf6-knotifyconfig/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/kf6-purpose): 6.10.0
  x11-packages/kf6-purpose/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/weechat): libdl.a is a stub --- use libdl.so instead
  packages/weechat/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/weechat): libdl.a is a stub --- use libdl.so instead
  packages/weechat/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/c-toxcore): 0.2.20-p20250105
  packages/c-toxcore/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/toxic): 0.16.1
  packages/toxic/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/toxic): 0.16.1
  packages/toxic/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/c-toxcore): 0.2.20-p20250105
  packages/c-toxcore/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/abiword): 3.0.6
  x11-packages/abiword/build.sh
  x11-packages/abiword/gir/3.0.6/Abi-3.0.xml
  x11-packages/abiword/plugin-configure.m4.patch
  x11-packages/abiword/src-af-util-xp-ut_stringbuf.cpp.patch
Owners: @Grimler91, @TomJo2000, @xtkoba

bump(main/miniupnpc): 2.3.0
  packages/miniupnpc/build.sh
Owners: @Grimler91, @TomJo2000

scripts: add variable TERMUX_PKG_NO_REPLACE_GUESS_SCRIPTS
  scripts/build/termux_step_replace_guess_scripts.sh
  scripts/build/termux_step_setup_variables.sh
Owners: @Grimler91

bump(main/rust): 1.84.0
  packages/rust/build.sh
  packages/rust/config.toml
Owners: @kcotugno

bump(main/at-spi2-core): 2.54.1
  packages/at-spi2-core/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/cargo-c): 0.10.8
  packages/cargo-c/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/harfbuzz): 10.2.0
  packages/harfbuzz/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/helm-ls): 0.1.1
  packages/helm-ls/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/uv): 0.5.18
  packages/uv/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/lxqt-panel): 2.1.4
  x11-packages/lxqt-panel/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/lxqt-runner): 2.1.1
  x11-packages/lxqt-runner/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/starship): 1.22.1
  packages/starship/0001-Cargo.toml.patch
  packages/starship/6342-fix-username.patch
  packages/starship/build.sh
Owners: @TomJo2000

bump(main/starship): 1.22.1 (#22897)
  packages/starship/0001-Cargo.toml.patch
  packages/starship/6342-fix-username.patch
  packages/starship/build.sh
Owners: @TomJo2000

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi
