Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi

fix(main/swift): fix build with clang-18, clarify comment and add warning
  packages/swift/build.sh
Owners: @finagolfin

bump(main/dnsutils): 9.20.5
  packages/dnsutils/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/broot): 1.44.7
  packages/broot/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/diffutils): 3.11
  packages/diffutils/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/fzf): 0.60.0
  packages/fzf/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gpgme): 1.24.2
  packages/gpgme/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libgnutls): 3.8.9
  packages/libgnutls/build.sh
Owners: @Grimler91, @TomJo2000

proot, libandroid-shmem: Share SHM namespace
  packages/libandroid-shmem/build.sh
  packages/proot/build.sh
Owners: @Grimler91, @TomJo2000, @michalbednarski

bump(main/libcurl): 8.12.1
  packages/libcurl/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/ncpamixer): 1.3.9
  packages/ncpamixer/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/neocmakelsp): 0.8.19
  packages/neocmakelsp/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/mogan): 2.9.8
  x11-packages/mogan/build.sh
  x11-packages/mogan/s7.diff
  x11-packages/mogan/xmake-beamer.lua.patch
  x11-packages/mogan/xmake-code.lua.patch
  x11-packages/mogan/xmake-draw.lua.patch
  x11-packages/mogan/xmake-packages-l-lolly.patch
  x11-packages/mogan/xmake-packages-s-s7.patch
Owners: @Grimler91, @TomJo2000

lfortran: bump to 0.45.0
  packages/lfortran/CMakeLists.txt.patch.beforehostbuild
  packages/lfortran/build.sh
  packages/lfortran/llvm16.patch
  packages/lfortran/shared-zlib.patch
  packages/lfortran/shared-zstd.patch
  packages/lfortran/src-bin-lfortran.cpp.patch
Owners: @Grimler91, @TomJo2000

python-numpy: bump to 2.2.3
  packages/python-numpy/build.sh
Owners: @Grimler91, @TomJo2000

lfortran: bump to 0.45.0 (#23173)
  packages/lfortran/CMakeLists.txt.patch.beforehostbuild
  packages/lfortran/build.sh
  packages/lfortran/llvm16.patch
  packages/lfortran/shared-zlib.patch
  packages/lfortran/shared-zstd.patch
  packages/lfortran/src-bin-lfortran.cpp.patch
Owners: @Grimler91, @TomJo2000

python-numpy: bump to 2.2.3 (#23174)
  packages/python-numpy/build.sh
Owners: @Grimler91, @TomJo2000

python-onnxruntime: bump to 1.20.2
  packages/python-onnxruntime/0001-use-system-abseil.patch
  packages/python-onnxruntime/0002-use-system-protobuf.patch
  packages/python-onnxruntime/0003-build-providers.patch
  packages/python-onnxruntime/0004-cmake-python-find-Development-before-Development.Module.patch
  packages/python-onnxruntime/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/luanti): 5.11.0
  x11-packages/luanti/0001-enable-egl-without-sdl2.patch
  x11-packages/luanti/0001-fix-elf-directory-for-cross-compiling.patch
  x11-packages/luanti/0002-bionic-libc-x11-wsi-opengl-es-2.patch
  x11-packages/luanti/0003-prepend-termux-prefix-to-tmp-path.patch
  x11-packages/luanti/0004-disable-sdl2.patch
  x11-packages/luanti/0005-fix-incompatible-type-ekey-code.patch
  x11-packages/luanti/0006-replace-xdg-open.patch
  x11-packages/luanti/build.sh
Owners: @Grimler91, @TomJo2000

python-onnxruntime: bump to 1.20.2 (#23175)
  packages/python-onnxruntime/0001-use-system-abseil.patch
  packages/python-onnxruntime/0002-use-system-protobuf.patch
  packages/python-onnxruntime/0003-build-providers.patch
  packages/python-onnxruntime/0004-cmake-python-find-Development-before-Development.Module.patch
  packages/python-onnxruntime/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/luanti): 5.11.0
  x11-packages/luanti/0001-enable-egl-without-sdl2.patch
  x11-packages/luanti/0001-fix-elf-directory-for-cross-compiling.patch
  x11-packages/luanti/0002-bionic-libc-x11-wsi-opengl-es-2.patch
  x11-packages/luanti/0003-prepend-termux-prefix-to-tmp-path.patch
  x11-packages/luanti/0004-disable-sdl2.patch
  x11-packages/luanti/0005-fix-incompatible-type-ekey-code.patch
  x11-packages/luanti/0006-replace-xdg-open.patch
  x11-packages/luanti/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/extra-cmake-modules): 6.11.0
  x11-packages/extra-cmake-modules/build.sh
Owners: @Grimler91, @TomJo2000

new package: hangover-wine
  x11-packages/hangover-wine/0001-fix-paths.patch
  x11-packages/hangover-wine/0002-fix-defines.patch
  x11-packages/hangover-wine/0003-fix-socket-ipx.patch
  x11-packages/hangover-wine/0004-no-pthread_mutexattr_setprotocol.patch
  x11-packages/hangover-wine/9998-fix-winegcc-build-target.patch.beforehostbuild
  x11-packages/hangover-wine/9999-fix-winebuild-as-type.patch.beforehostbuild
  x11-packages/hangover-wine/build.sh
  x11-packages/hangover-wine/hangover-libarm64ecfex.subpackage.sh
  x11-packages/hangover-wine/hangover-libwow64fex.subpackage.sh
  x11-packages/hangover-wine/hangover.subpackage.sh
Owners: @Grimler91, @TomJo2000

bump(x11/mogan): 2.9.8 (#23170)
  x11-packages/mogan/build.sh
  x11-packages/mogan/s7.diff
  x11-packages/mogan/xmake-beamer.lua.patch
  x11-packages/mogan/xmake-code.lua.patch
  x11-packages/mogan/xmake-draw.lua.patch
  x11-packages/mogan/xmake-packages-l-lolly.patch
  x11-packages/mogan/xmake-packages-s-s7.patch
Owners: @Grimler91, @TomJo2000

codon: bump to 0.18.1
  packages/codon/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vifm): 0.14
  packages/vifm/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vifm): 0.14 (#23178)
  packages/vifm/build.sh
Owners: @Grimler91, @TomJo2000

add -Q loud build with set -x (#23132)
  build-package.sh
Owners: @Grimler91

bump(main/ruby): 3.4.1 (#23105)
  packages/asciidoctor/build.sh
  packages/ruby/build.sh
  packages/ruby/ext-syslog-extconf.rb.patch
  packages/ruby/fix-paths.patch
  packages/ruby/yjit-src-codegen.rs.patch
  packages/ruby/yjit-src-yjit.rs.patch
  packages/weechat/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/openjdk-17): fix build with clang 18
  packages/openjdk-17/build.sh
Owners: @Grimler91, @TomJo2000

rebuild(main/command-not-found): to update database
  packages/command-not-found/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/openjdk-17): fix build with clang 18 (#23145)
  packages/openjdk-17/build.sh
Owners: @Grimler91, @TomJo2000

codon: bump to 0.18.1 (#23177)
  packages/codon/build.sh
Owners: @Grimler91, @TomJo2000

enhance(x11/termux-x11-nightly): add service script
  x11-packages/termux-x11-nightly/build.sh
  x11-packages/termux-x11-nightly/sv/tx11.run.in
Owners: @twaik

enhance(x11/termux-x11-nightly): add termux-x11-xfce4 service script
  x11-packages/termux-x11-nightly/build.sh
  x11-packages/termux-x11-nightly/sv/tx11-xfce4.run.in
Owners: @twaik

bump(main/openssl): 3.4.1
  packages/openssl/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/zrok): 0.4.48
  packages/zrok/build.sh
Owners: @TomJo2000

bump(main/zoxide): 0.9.7
  packages/zoxide/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/zola): 0.20.0
  packages/zola/build.sh
Owners: @Grimler91, @TomJo2000

pypy3: cross translation
  packages/pypy3/0008-do-not-cffi-dlopen-when-compiling-sqlite3.patch
  packages/pypy3/0008-do-not-cffi-dlopen-when-cross-exec.patch
  packages/pypy3/0009-add-shm-functions-for-posixshmem-module.patch
  packages/pypy3/0011-do-not-use-semaphores.patch
  packages/pypy3/0012-libc-name.patch
  packages/pypy3/build.sh
  packages/pypy3/termux.py.in
Owners: @Grimler91, @TomJo2000

bump(main/yazi): 25.2.11
  packages/yazi/build.sh
Owners: @Grimler91, @TomJo2000
