Repository termux/termux-packages, changes with the owners that CODEOWNERS names for each.
All owners: @Grimler91, @TomJo2000, @thunder-coding, @xtkoba, @finagolfin, @DLC01, @ian4hu, @kcubeterm, @librehat, @s00se, @michalbednarski, @MrAdityaAlok, @Neo-Oli, @suhan-paradkar, @PeroSar, @2096779623, @twaik, @Maxython, @rafaelmartins, @craigcomstock, @PuneetGopinath, @samujjal-gogoi, @ravener, @medzikuser, @kcotugno, @waruqi

bump(main/vim): 9.1.1050
  packages/vim/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/bochs): 2.8
  x11-packages/bochs/build.sh
  x11-packages/bochs/configure.patch
Owners: @Grimler91, @TomJo2000

bump(main/boost): 1.84.0
  packages/boost/boost-function-support-fn.contains_f_-where-f-is-a-function.patch
  packages/boost/build.sh
  packages/boost/phoenix-linking-issue.patch
Owners: @Grimler91, @TomJo2000

bump(main/liblzma): 5.6.4
  packages/liblzma/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/botan3): 3.6.1
  packages/botan3/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/byacc): 20241231
  packages/byacc/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/vulkan-extension-layer): 1.4.306
  packages/vulkan-extension-layer/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/capstone): 5.0.5
  packages/capstone/build.sh
Owners: @Grimler91, @TomJo2000

bump(root/bubblewrap): 0.11.0
  root-packages/bubblewrap/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libcdk): 5.0-20250116
  packages/libcdk/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/cfengine): 3.25.0
  packages/cfengine/build.sh
Owners: @craigcomstock

bump(main/clifm): 1.23
  packages/clifm/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/clpeak): 1.1.4
  packages/clpeak/aligned-alloc.patch
  packages/clpeak/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/doge): 0.2.8
  packages/doge/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/liblzma): 5.6.4 (#23016)
  packages/liblzma/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/apache2): 2.4.63
  packages/apache2/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/libtsduck): 3.39.3956 (#22807)
  packages/libtsduck/Makefile.inc.patch
  packages/libtsduck/Makefile.inc.patch.beforehostbuild
  packages/libtsduck/build.sh
  packages/libtsduck/scripts-make-config.sh.patch
  packages/libtsduck/scripts-make-config.sh.patch.beforehostbuild
Owners: @Grimler91, @TomJo2000

bump(main/apache2): 2.4.63 (#23029)
  packages/apache2/build.sh
Owners: @Grimler91, @TomJo2000

vulkan-headers: bump to 1.4.306
  packages/vulkan-headers/build.sh
Owners: @Grimler91, @TomJo2000

vulkan-loader-generic: bump to 1.4.306
  packages/vulkan-loader-generic/build.sh
Owners: @Grimler91, @TomJo2000

vulkan-tools: bump to 1.4.306
  packages/vulkan-tools/build.sh
Owners: @Grimler91, @TomJo2000

vulkan-tools: bump to 1.4.306
  packages/vulkan-tools/build.sh
Owners: @Grimler91, @TomJo2000

vulkan-loader-generic: bump to 1.4.306
  packages/vulkan-loader-generic/build.sh
Owners: @Grimler91, @TomJo2000

vulkan-headers: bump to 1.4.306
  packages/vulkan-headers/build.sh
Owners: @Grimler91, @TomJo2000

vulkan-utility-libraries: bump to 1.4.306
  packages/vulkan-utility-libraries/build.sh
Owners: @Grimler91, @TomJo2000

bump(root/libccid): 1.6.1
  root-packages/libccid/build.sh
  root-packages/libccid/issetugid.patch
Owners: @Grimler91, @TomJo2000

bump(root/libccid): 1.6.1
  root-packages/libccid/build.sh
  root-packages/libccid/issetugid.patch
Owners: @Grimler91, @TomJo2000

bump(main/libpng): 1.6.46
  packages/libpng/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/cmake): 3.31.5
  packages/cmake/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/dwarves): 1.29
  packages/dwarves/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/fakeroot): 1.37
  packages/fakeroot/build.sh
Owners: @Grimler91, @TomJo2000

vulkan-validation-layers: bump to 1.4.306
  packages/vulkan-validation-layers/0005-SubgroupMatrixMultiplyAccumulateINTEL.patch
  packages/vulkan-validation-layers/build.sh
Owners: @Grimler91, @TomJo2000

bump(main/gradle): 8.12.1
  packages/gradle/build.sh
Owners: @Grimler91, @TomJo2000

fix(main/pacman): correction of mirror flag during git cloning
  packages/pacman/build.sh
  packages/pacman/git.sh.in.patch
Owners: @Maxython

fix(main/pacman): correction of mirror flag during git cloning (#23035)
  packages/pacman/build.sh
  packages/pacman/git.sh.in.patch
Owners: @Maxython

bump(main/eza): 0.20.18
  packages/eza/build.sh
Owners: @TomJo2000

bump(x11/fcitx5): 5.1.12
  x11-packages/fcitx5/build.sh
  x11-packages/fcitx5/src-modules-spell-CMakeLists.txt.patch
Owners: @Grimler91, @TomJo2000

bump(x11/libime): 1.1.10
  x11-packages/libime/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/fcitx5-chinese-addons): 5.1.8
  x11-packages/fcitx5-chinese-addons/build.sh
Owners: @Grimler91, @TomJo2000

bump(x11/fcitx5-configtool): 5.1.8
  x11-packages/fcitx5-configtool/build.sh
Owners: @Grimler91, @TomJo2000

CODEOWNERS:

# Default assignment: frequent contributors from @termux.
* @Grimler91 @TomJo2000

# Build system.
/build-all.sh @Grimler91
/build-package.sh @Grimler91
/clean.sh @Grimler91
/scripts/ @Grimler91

# GN setup script
/scripts/build/setup/termux_setup_gn.sh @thunder-coding

# GIR (GObject Introspection Repository) setup script and other stuff
/packages/gobject-introspection/gi-cross-launcher-on-device.in @xtkoba
/packages/gobject-introspection/gi-cross-launcher.sh @xtkoba
/packages/ldd/ @xtkoba
/scripts/build/setup/termux_setup_gir.sh @xtkoba

# Pre-generated XML dumps for GIR
/packages/*/gir/ @xtkoba
/x11-packages/*/gir/ @xtkoba

# Packages owned by @finagolfin
/packages/libdispatch/ @finagolfin
/packages/libllvm/ @finagolfin
/packages/llbuild/ @finagolfin
/packages/swift/ @finagolfin

# Packages owned by @DLC01
/packages/exhale/ @DLC01
/packages/fdkaac/ @DLC01
/packages/libfdk-aac/ @DLC01

# Packages owned by @Grimler91
/packages/chezmoi/ @Grimler91
/packages/docopt/ @Grimler91
/packages/game-repo/ @Grimler91
/packages/libprotobuf-c/ @Grimler91
/packages/libqrencode/ @Grimler91
/packages/mpdscribble/ @Grimler91
/packages/pass-otp/ @Grimler91
/packages/root-repo/ @Grimler91
/packages/runit/ @Grimler91
/packages/science-repo/ @Grimler91
/packages/smalltalk/ @Grimler91
/packages/teckit/ @Grimler91
/packages/termux-services/ @Grimler91
/packages/texlive-bin/ @Grimler91

# Packages owned by @ian4hu
/packages/php-apcu/ @ian4hu
/packages/php-imagick/ @ian4hu
/packages/php-psr/ @ian4hu
/packages/php-zephir-parser/ @ian4hu
/packages/re2c/ @ian4hu

# Packages owned by @kcubeterm
/packages/brook/ @kcubeterm
/packages/delve/ @kcubeterm
/packages/duf/ @kcubeterm
/packages/fzy/ @kcubeterm
/packages/gh/ @kcubeterm
/packages/gping/ @kcubeterm
/packages/hors/ @kcubeterm
/packages/k9s/ @kcubeterm
/packages/lazygit/ @kcubeterm
/packages/libtorrent/ @kcubeterm
/packages/lsd/ @kcubeterm
/packages/pup/ @kcubeterm
/packages/ripgrep-all/ @kcubeterm
/packages/rush/ @kcubeterm
/packages/rustscan/ @kcubeterm
/packages/shc/ @kcubeterm
/packages/shell2http/ @kcubeterm
/packages/shiori/ @kcubeterm
/packages/youtubedr/ @kcubeterm

# Packages owned by @librehat
/packages/flatbuffers/ @librehat
/packages/mimetic/ @librehat

# Packages owned by @s00se
/packages/dns2tcp/ @s00se
/packages/proxmark3/ @s00se
/packages/recode/ @s00se

# Packages owned by @michalbednarski
/packages/proot/ @michalbednarski
/packages/termux-am/ @michalbednarski

# Packages owned by @MrAdityaAlok
/packages/haskell-base-compat-batteries/ @MrAdityaAlok
/packages/haskell-cabal-syntax/ @MrAdityaAlok
/packages/ghc-libs/ @MrAdityaAlok
/packages/haskell-these/ @MrAdityaAlok
/packages/haskell-hashable/ @MrAdityaAlok
/packages/haskell-edit-distance/ @MrAdityaAlok
/packages/haskell-hackage-security/ @MrAdityaAlok
/packages/haskell-ed25519/ @MrAdityaAlok
/packages/haskell-indexed-traversable/ @MrAdityaAlok
/packages/haskell-transformers-compat/ @MrAdityaAlok
/packages/haskell-witherable/ @MrAdityaAlok
/packages/haskell-text-short/ @MrAdityaAlok
/packages/haskell-bifunctors/ @MrAdityaAlok
/packages/haskell-http/ @MrAdityaAlok
/packages/haskell-integer-logarithms/ @MrAdityaAlok
/packages/haskell-statevar/ @MrAdityaAlok
/packages/haskell-attoparsec/ @MrAdityaAlok
/packages/haskell-diff/ @MrAdityaAlok
/packages/haskell-regex-tdfa/ @MrAdityaAlok
/packages/haskell-lukko/ @MrAdityaAlok
/packages/haskell-zlib/ @MrAdityaAlok
/packages/haskell-semialign/ @MrAdityaAlok
/packages/haskell-network-uri/ @MrAdityaAlok
/packages/haskell-contravariant/ @MrAdityaAlok
/packages/haskell-scientific/ @MrAdityaAlok
/packages/haskell-strict/ @MrAdityaAlok
/packages/haskell-network/ @MrAdityaAlok
/packages/haskell-quickcheck/ @MrAdityaAlok
/packages/haskell-base-orphans/ @MrAdityaAlok
/packages/haskell-time-compat/ @MrAdityaAlok
/packages/haskell-tar/ @MrAdityaAlok
/packages/haskell-uuid-types/ @MrAdityaAlok
/packages/haskell-semigroupoids/ @MrAdityaAlok
/packages/haskell-th-abstraction/ @MrAdityaAlok
/packages/haskell-regex-base/ @MrAdityaAlok
/packages/haskell-cabal/ @MrAdityaAlok
/packages/haskell-data-fix/ @MrAdityaAlok
/packages/haskell-regex-posix/ @MrAdityaAlok
/packages/haskell-resolv/ @MrAdityaAlok
/packages/haskell-base-compat/ @MrAdityaAlok
/packages/haskell-cryptohash-sha256/ @MrAdityaAlok
/packages/cabal-install/ @MrAdityaAlok
/packages/haskell-th-compat/ @MrAdityaAlok
/packages/haskell-unordered-containers/ @MrAdityaAlok
/packages/haskell-aeson/ @MrAdityaAlok
/packages/haskell-echo/ @MrAdityaAlok
/packages/haskell-base16-bytestring/ @MrAdityaAlok
/packages/haskell-async/ @MrAdityaAlok
/packages/haskell-primitive/ @MrAdityaAlok
/packages/haskell-tagged/ @MrAdityaAlok
/packages/haskell-onetuple/ @MrAdityaAlok
/packages/haskell-vector/ @MrAdityaAlok
/packages/haskell-splitmix/ @MrAdityaAlok
/packages/haskell-distributive/ @MrAdityaAlok
/packages/haskell-dlist/ @MrAdityaAlok
/packages/haskell-comonad/ @MrAdityaAlok
/packages/haskell-indexed-traversable-instances/ @MrAdityaAlok
/packages/haskell-assoc/ @MrAdityaAlok
/packages/haskell-random/ @MrAdityaAlok
/packages/haskell-base64-bytestring/ @MrAdityaAlok
/packages/libdvbcsa/ @MrAdityaAlok
/packages/tvheadend/ @MrAdityaAlok

# Packages owned by @Neo-Oli
/packages/cava/ @Neo-Oli
/packages/colordiff/ @Neo-Oli
/packages/ed/ @Neo-Oli
/packages/libmesode/ @Neo-Oli
/packages/libotr/ @Neo-Oli
/packages/libsignal-protocol-c/ @Neo-Oli
/packages/nyancat/ @Neo-Oli
/packages/par2/ @Neo-Oli
/packages/profanity/ @Neo-Oli
/packages/tsocks/ @Neo-Oli
/packages/tty-clock/ @Neo-Oli

# Packages owned by @suhan-paradkar
/packages/libsecret/ @suhan-paradkar
/packages/mailutils/ @suhan-paradkar

# Packages owned by @thunder-coding
/packages/flyctl/ @thunder-coding
/packages/git-sizer/ @thunder-coding
/packages/gn/ @thunder-coding
/packages/lychee/ @thunder-coding
/packages/nodejs/ @thunder-coding
/packages/nodejs-lts/ @thunder-coding
/packages/silicon/ @thunder-coding
/packages/slides/ @thunder-coding

# Packages owned by @TomJo2000
/packages/bash-completion/ @TomJo2000
/packages/bash/ @TomJo2000
/packages/borgbackup/ @TomJo2000
/packages/eza/ @TomJo2000
/packages/git-delta/ @TomJo2000
/packages/gopass/ @TomJo2000
/packages/less/ @TomJo2000
/packages/lua-language-server/ @TomJo2000
/packages/lua-lpeg/ @TomJo2000
/packages/moreutils/ @TomJo2000
/packages/mpv/ @TomJo2000
/packages/ncdu/ @TomJo2000
/packages/ncdu2/ @TomJo2000
/packages/neovim/ @TomJo2000
/packages/nerdfix/ @TomJo2000
/packages/openssh/ @TomJo2000
/packages/rip2/ @TomJo2000
/packages/rsgain/ @TomJo2000
/packages/shellcheck/ @TomJo2000
/packages/starship/ @TomJo2000
/packages/taplo/ @TomJo2000
/packages/tmux/ @TomJo2000
/packages/tree-sitter* @TomJo2000
/packages/typst-lsp/ @TomJo2000
/packages/typstfmt/ @TomJo2000
/packages/zls/ @TomJo2000
/packages/zrok/ @TomJo2000
/packages/zsh/ @TomJo2000
/x11-packages/alacritty/ @TomJo2000
/x11-packages/jwm/ @TomJo2000
/x11-packages/mpv-x/ @TomJo2000
/x11-packages/qbittorrent/ @TomJo2000

# Packages owned by @PeroSar
/packages/gitui/ @PeroSar
/packages/rxfetch/ @PeroSar

# Packages owned by @2096779623
/packages/alist/ @2096779623
/packages/frp/ @2096779623

# Packages owned by @twaik
/x11-packages/termux-x11-nightly/ @twaik

# Packages owned by @Maxython
/packages/pacman/ @Maxython
/packages/glibc-repo/ @Maxython

# Misc
/packages/blogc/ @rafaelmartins
/packages/cfengine/ @craigcomstock
/packages/composer/ @PuneetGopinath
/packages/dart/ @samujjal-gogoi
/packages/germanium/ @ravener
/packages/gotop/ @medzikuser
/packages/rust/ @kcotugno
/packages/xmake/ @waruqi
